
<div id="main" class="display-m-b">
    <div class="title"><div class="h1_like"><h1><span class="hidden-m">All Sky Cams</span> <span class="logo display-m-b"><img src="/img/allskycams_xs.svg" title="ALL SKY CAMS"></span></h1></div></div>
</div>
<section class="intro f bw" >
    <div class="row">
        <div class="ins npb">
            <h1 class="hmt hmb">AllSkyCams Network</h1>
            
        </div>
    </div> 
</section>
<section class="bg" >
        <div class="row">
            <div class="ins npb npt pbt">
                    <p class="h2_like">Our goal is to cover the United States and beyond with a network of interconnected high resolution all sky cameras for the purpose of recording meteor and fireball events. There is a lot of sky to cover, but you have to start one camera at a time. Here is the current map of installed and up and coming All Sky Systems in the United States.
                    </p>
            </div>
        </div> 
</section>
<section class="bw" style="min-height: 600px" >
    <div class="row">
        <div class="ins npb npt pbt">
            <iframe style="width:100%; height:100%; min-height: 600px" src="//fireballs.imo.net/members/imo_cam_networks/network_embed?cam_network_name=AMS" frameborder="0"></iframe> 
        </div>
    </div>
</section>


