<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><? if(!empty($title)):echo $title;else:?>AllSkyCams<?endif;?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/allskycams.css" rel="stylesheet"/>
    <meta name="description" content="<? if(!empty($description)):echo $description;else:?>ALLSKYCAMS is the next Generation Meteor Camera Systems. If you have an interest in meteors, fireballs or meteorites it is the website to visit!<?endif;?>">
    <meta name="keywords" content="fireball,meteor,meteorites,cams,allskycam,allskycams,all sky cam">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#01508e">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#01508e">

    <? if(!empty($scrollToTop)): ?>
        <script>window.onbeforeunload = function () {window.scrollTo(0, 0);}</script>
    <? endif; ?>

</head>
 
<body <? if(!empty($bodyClass)):?>class="<?= $bodyclass ?>"<? endif; ?>>
<div class="wrapper">

    <? if(!empty($activeMenu) && $activeMenu=='home' ): ?>
        <div id="header-bg" class="lozad" data-background-image="/img/bg/meteor1.jpg">
    <? endif; ?>

        <header class="right_menu ">

            <? include('menu.html'); ?>
    
            <? if(!empty($activeMenu && $activeMenu=='home')): ?>
                <section id="welcome" class="tc w">
                        <div class="logo_in db tc xs animated fadeInUp wtcv">
                            <picture class="lozad" data-iesrc="/img/allskycams_xs.svg">
                                    <source srcset="/img/allskycams_xs.svg" > 
                                    <noscript><img src="/img/allskycams_xs.svg"></noscript>
                            </picture>
                        </div>
                        <a data-scroll href="#main" class="btn btn-big animated fadeInDown wtcv dib tc scrolltosection">
                            Learn More
                        </a>
                </section>
            <? endif; ?>
        </header>

    <? if(!empty($activeMenu && $activeMenu=='home')): ?>    
    </div>
    <? endif; ?>
 