
<div id="main" class="display-m-b">
        <div class="title"><div class="h1_like"><h1><span class="hidden-m">All Sky Cams</span> <span class="logo display-m-b"><img src="/img/allskycams_xs.svg" title="ALL SKY CAMS"></span></h1></div></div>
    </div>
    <section class="intro f bw" >
        <div class="row">
            <div class="ins npb">
                <h1 class="hmt hmb">Support</h1>
                <p class="h2_like">Questions? Need help? We'll answer ASAP.</p>
            </div>
        </div> 
    </section>
    <section class="bg" >

      <div  class="row dmb">

                     
    <? if(!empty($input['res'])): ?>
       <div class="alert mt">Your message has been sent. We will get back to you very soon.</div>
    <? endif; ?>  
        <div class="box">
        <div class="ins npb npt mb mt">
            <form method="POST">
                <input type="hidden" name="submit" value="1"/>
                <fieldset>
                    <div class="row">
                        <p class="h2_like">Please, fill all the fields below.</p>
                        <div class="col-25">
                          <label for="fname">First Name</label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="fname" name="firstname" placeholder="Your first name" autocomplete="nickname" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                          <label for="lname">Last Name</label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="lname" name="lastname" placeholder="Your last name" autocomplete="family-name" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                          <label for="email">Email</label>
                        </div>
                        <div class="col-75">
                          <input type="email" id="email" name="email" placeholder="Your email" autocomplete="email" required/>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-25">
                              <label for="subject">Subject</label>
                            </div>
                            <div class="col-75">
                              <input type="text" id="subject" name="subject" placeholder="Subject"  required/>
                            </div>
                    </div>
                    <div class="row">
                                <div class="col-25">
                                  <label for="message">Message</label>
                                </div>
                                <div class="col-75">
                                  <textarea id="message" name="message" placeholder="Your message"  required rows="6"></textarea>
                                </div>
                    </div>
                    <div class="row">
                            <div class="col-25">&nbsp;</div>
                            <div class="col-75">
                                    <p><button type="submit" class="btn btn-big wtcv dib tc">Submit</button></p>
                            </div>
                    </div>
                </fieldset>
                
            </form>
        </div>
        
        </div>
    </div>
    </section>